<div class="content">
<!--  IF ROLE == ADMIN-->
  <h1>Author:</h1>
  <table >
    <tr>
      <!--      <th>Id</th>-->
      <th>Image</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Initials</th>
      <th>Birthdate</th>
      <th>Gender</th>
      <th>Contact details</th>
      <th>Other details</th>
      <th>Books</th>
      <th colspan="2">Edit</th>
    </tr>
      <tr>
        <!--        <td>{{author.id}}</td>-->
        <td><img class="table-icon" [src]="url+authorsImagesPath+author?.image" [alt]="author?.image"></td>
        <td>{{author?.firstname}}</td>
        <td>{{author?.lastname}}</td>
        <td>{{author?.initials}}</td>
        <td>{{author?.birthDate}}</td>
        <td>{{author?.gender}}</td>
        <td>{{author?.contactDetails}}</td>
        <td>{{author?.otherDetails}}</td>
        <td>@if(authorBooks > 0){
          <a routerLink="/books" [queryParams]="{filter: 'author-'+author?.id}">see books...</a>
        } @else {
          empty : (
        }</td>
        <td class="action-cell edit-table-button"><button (click)="editAuthor()">Edit!</button></td>
        <td class="action-cell delete-table-button"><button (click)="deleteAuthor()">Delete!</button></td>
      </tr>
  </table>

<!--  <div class="author-info">-->
<!--    <h1>USER IMPLEMENTATION!!!</h1>-->
<!--    <img [src]="url+authorsImagesPath+author?.image" [alt]="author?.image">-->
<!--  </div>-->
</div>
