<div class="content">
  <h1>Book info:</h1>
  <table>
    <tr>
      <th>Image:</th>
      <th>Author</th>
      <th>Category</th>
      <th>ISBN</th>
      <th>Publication Date</th>
      <th>Acquirement Date</th>
      <th>Title</th>
      <th>Price</th>
      <th>Comments</th>
      <th colspan="2">Edit</th>
    </tr>
      <tr>
        <td class="book-image-cell">
          <img class="book-image"  [src]="url+booksImagesPath+book?.image">
        </td>

        <!--      <td>{{book?.id}}</td>-->
        <td><a [routerLink]="'/authors/'+book?.author?.id">{{book?.author?.firstname}} {{book?.author?.lastname}}</a></td>
        <!--        <td><a [routerLink]="'/authors?filter=author-'+book?.author.id">{{book?.category.categoryDescription}}</a></td>-->
        <!--        <td><a routerLink="/authors" [queryParams]="{filter: 'author-'+book?.author.id}">{{book?.author.firstname}} {{book?.author.lastname}}</a></td>-->
        <!--        <td><a routerLink="/categories" [queryParams]="{filter: 'category-'+book?.category.code}">{{book?.category.categoryDescription}}</a></td>-->
        <td><a [routerLink]="'/categories/'+book?.category?.code">{{book?.category?.categoryDescription}}</a></td>
        <td>{{book?.isbn}}</td>
        <td>{{book?.publicationDate}}</td>
        <td>{{book?.dateAcquired}}</td>
        <td>{{book?.title}}</td>
        <td>{{book?.recommendedPrice | currency:"MDL":"symbol":"1.2-2"}}</td>
        <td>{{book?.comments}}</td>
        <td class="action-cell edit-table-button"><button (click)="editBook()">Edit!</button></td>
        <td class="action-cell delete-table-button"><button (click)="deleteBook()">Delete!</button></td>
      </tr>
  </table>
</div>
