
.book-image {
  width: 100px;
  height: 150px;
  /*display: none;*/
  /*opacity: 0;*/
  /*position: absolute;*/
  transition: all 200ms;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.book-image:hover{
  transform: scale(3) translate(25px, 15px);
  box-shadow: 0px 0px 10px white;
}
